<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <title>ชี้โพรง</title>
</head>
<body>
    {{ index . "nav" }}
    <div class="container text-center h-100">
        <div class="h-100 d-flex align-item-center justify-content-center flex-column">
            <h1 class="display-1 text-light">ชี้โพรง</h1>
            <div class="d-flex flex-row">
                <input class="form-control" type="text" placeholder="วาง link เลยพ่อหนุ่ม">
                <button type="button" class="m-0 p-0" style="height: 40px;">แจ้งทางการ</button>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
</body>
</html>